
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PROFİL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/login_css/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login_css/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login_css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login_css/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login_css/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login_css/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login_css/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login_css/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login_css/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/login_css/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login_css/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        @RenderBody()
        <div class="container-login100" style="background-image: url('/login_css/images/bg-01.jpg');">
            <div class="wrap-login100">
                @using (@Html.BeginForm("ProfilGuncelle", "Profil", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @model Emlak.ModelView.ProfilModel
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">ÜYE KAYDI</span>

                    <table>
                        <tr>
                            <td style="padding-right:5px;">
                                <div class="wrap-input100 validate-input">
                                    @Html.TextBoxFor(model => model.Kullanici.KULLANICI_ADI, new { placeholder = Model.Kullanici.KULLANICI_ADI, @class = "input100" })
                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                            <td style="padding-left:5px;">
                                <div class="wrap-input100 validate-input">
                                    @Html.TextBoxFor(uye => uye.Kullanici.SIFRE, new { placeholder = "ŞİFRE", @class = "input100" })
                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td style="padding-right:5px;">
                                <div class="wrap-input100 validate-input" >
                                    @Html.TextBoxFor(uye => uye.BireyselUye.AD, new { placeholder = @ViewBag.BireyselUye.AD, @class = "input100" })
                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                            <td style="padding-left:5px;">
                                <div class="wrap-input100 validate-input">
                                    @Html.TextBoxFor(uye => uye.BireyselUye.SOYAD, new { placeholder = @ViewBag.BireyselUye.SOYAD, @class = "input100" })
                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td style="padding-right:5px;">
                                <div class="wrap-input100 validate-input">
                                    @Html.DropDownListFor(uye => uye.BireyselUye.CINSIYET, Emlak.ModelView.UyeKayitModel.GetCinsiyetler(), new { placeholder = "CİNSİYET", @class = "form-control" })
                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                            <td style="padding-left:5px;">
                                <div class="wrap-input100 validate-input">
                                    @Html.TextBoxFor(uye => uye.BireyselUye.TEL_NO, new { placeholder = @ViewBag.BireyselUye.TEL_NO, @class = "input100" })
                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td style="padding-right:5px;">
                                <div class="wrap-input100">
                                    @Html.DropDownListFor(uye => uye.Adres.IL_ID, ViewBag.Iller as SelectList, new { @class = "form-control" })
                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                            <td style="padding-left:5px;">
                                <div class="wrap-input100">
                                    @Html.DropDownListFor(uye => uye.Adres.ILCE_ID, ViewBag.Ilceler as SelectList, "İLÇE SEÇİNİZ", new { @class = "form-control" })

                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table>
                        <tr>
                            <td style="padding-right:5px;">
                                <div class="wrap-input100 validate-input">
                                    @Html.TextBoxFor(uye => uye.BireyselUye.EMAIL, new { placeholder = @ViewBag.BireyselUye.EMAIL, @class = "input100" })
                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                            <td style="padding-left:5px;">
                                <div class="wrap-input100 validate-input">
                                    @Html.TextBoxFor(uye => uye.BireyselUye.ADRES, new { placeholder = @ViewBag.BireyselUye.ADRES, @class = "input100" })
                                    <span class="focus-input100"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="container-login100-form-btn">
                        <input class="login100-form-btn" type="submit" value="GÜNCELLE" />

                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="#">
                            @ViewData["result"]
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function () {
        $('#IL_ID').change(function () {
            // seçilen ülkenin id sini al
            var il_id = $(this).val();

            // secilen ülkenin id sini kullanarak Konum controller
            // sınıfı içerisindeki Sehirler metoduna çağrıda bulunuyoruz.
            // bu metod dan dönen listeyi kullanarak .each fonksiyonu ile
            // sehirleri dolduruyoruz...
            if (il_id != null && il_id != '') {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("IlcelerGetir", "LoginController")',
                    data: { il_id: il_id },
                    success: function (ilceler) {
                        $.each(ilceler, function (index, ilce) {
                            $('#ILCE_ID').append($('<option/>', {
                                value: ilce.ID,
                                text: ilce.ADI
                            }));
                        });
                    },
                    error: function () {
                        // bu kısımda eğer ajax işlemi başarısız ise
                        // hata mesajı verebiliriz.
                        alert("Hata");
                    },
                    beforeSend: function () {
                        // bu kısımda form postalanmadan önce yapılacak
                        // işler belirlenebilir. mesela postalama başladığı
                        // anda loading resmi görüntüleyebiliriz.
                    },
                    complete: function () {
                        // bu kısımda form postalandıktan sonra yapılacak
                        // işler belirlenebilir. mesela postalama bittiği
                        // anda loading resmi gizleyebiliriz.
                    }
                });
            }
        });
    });
    </script>


    <!--===============================================================================================-->
    <script src="~/login_css/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login_css/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login_css/vendor/bootstrap/js/popper.js"></script>
    <script src="~/login_css/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login_css/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/login_css/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/login_css/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/login_css/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/login_css/js/main.js"></script>
</body>
</html>
